.pagnav {
  margin-top: 50px;
  margin-bottom: 10px;
}

.navul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navli {
  margin-right: 10px;
}

.pagnav li:last-child {
  margin-right: 20px;
}

.pagnav a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #2468b1; /* Color del texto */
  background-color: hwb(49 4% 11%);
  font-weight: bold;
  font-size: 18px;
  font-family: "Fuente";
  border-radius: 8px;
  box-sizing: border-box;
}

.pagnav a:hover {
  background-color: hwb(49 4% 11%); /* Color de fondo al pasar el cursor */
}
