.navbar {
  display: flex;
  align-items: center;
}
@font-face {
  font-family: "Fuente";
  src: url("../../Fuentes/RussoOne-Regular.ttf");
}
@font-face {
  font-family: "F";
  src: url("../../Fuentes/BungeeInline-Regular.ttf");
}

.pnav {
  margin: 0;
  margin-right: 250px;
  margin-left: 70px;
  font-size: 40px;
  font-family: "F";
  color: hwb(49 4% 11%);
  text-shadow: 5px 8px 10px rgba(235, 224, 15, 0.527);
}

.navinput {
  margin-right: 5px;
  margin-left: 50px;
  color: #fbca1f;
  background-color: #fbca1f;
  border: 2px solid;
  border-radius: 5px;
  width: 150px;
  height: 25px;
}

.buttonnav {
  display: inline-block;
  padding: 5px 10px;
  background-color: #2468b1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "F";
  color: #fbca1f;
}

.containernav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.linknavli {
  margin-right: 40px;
  font-family: "Fuente";
  text-decoration: none;
  font-size: 20px;
}

.button {
  margin-left: 50px;
  background: #fbca1f;
  font-family: "Fuente";
  padding: 0.6em 1.3em;
  text-decoration-color: #2468b1;
  font-weight: 900;
  font-size: 15px;
  border: 3px solid #2468b1;
  border-radius: 0.4em;
  text-decoration: none !important;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.linknavli {
  list-style: none;
}

.linknavli a {
  text-decoration: none;
  display: inline;
  color: #fbca1f;
}

.linknavli2 {
  list-style: none;
}

.linknavli2 a {
  text-decoration: none;
  display: inline;
  color: #fbca1f;
}

/* navBar.module.css */
.logo {
  width: 200px; /* Ajusta el tamaño del logo según tus necesidades */
  height: 120px;
  /* Agrega otros estilos de posicionamiento según sea necesario */
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.card {
  display: flex;
  height: 70px;
  width: 270px;
  margin-right: 5px;
  margin-left: 50px;
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.card .social-link1,
.card .social-link2,
.card .social-link3,
.card .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background-color: #1a1e22;
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
  background-color: #0059f7;
  animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
  background-color: #1d4292;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
